.App {
  text-align: center;
}

.clickable {
  text-decoration: none;
  will-change: transform;
  transition: transform 450ms;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2f99bb;
}

.clickable:hover {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: transform 125ms;
  transform: translateY(-10px);
}

.clickable:hover .overlay {
  opacity: 1.0;
  width: 300px;
  height: 225px;
  margin: 20px;
  border-radius: 20px;
}

.overlayText {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
